body{

    background-image:url(../img/Pizza.png);


   animation:mover 50s  linear infinite ;






}

@keyframes mover{
    from { background-position: -40px -30px  ;}

    to { background-position: 500px;}
}



.container{
    display: flex;
    justify-content: center;
}
.tabla_carrito{
    max-width: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F65047;
    gap: 8%;
    border-radius: 22px;
}

.titulo_carrito{
    color: white;
}

.boton_carrito_pedir{
    background-color: white !important;
    color: #F65047;  !important;
    margin-bottom: 7px;
    border: none !important;
    border-radius: 8px;
    padding: 2%;
}
.boton_carrito_pedir:hover {
    color: white !important;
    background-color: #F65047 !important;
    border: 2px solid white !important;
    border-radius: 8px;
}
.boton_carrito_pedir:visited{
    color: inherit;
    text-decoration: none;
}


.png{
    max-width: 20px;
    background-color: transparent;
}


.botonescarrito{
    background-color: transparent;
    border: none;
}