body{

    background-image:url(../img/Pizza.png);


   animation:mover 50s  linear infinite ;






}
@keyframes mover{
    from { background-position: -40px -30px  ;}

    to { background-position: 500px;}
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mesa-contenedor {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.disponible {
    background-color: #e0ffe0;
}

.ocupada {
    background-color: #ffe0e0;
}

.mesa-info {
    margin-bottom: 12px;
}

.mesa-botones button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-asignar {
    background-color: #4CAF50;
    color: white;
}



.btn-historial, .btn-hacer-pedido {
    background-color: #ddd;
    color: #555;
}

.btn-hacer-pedido.verde {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;

}



