{% extends 'basehtml.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block content %}
<div class="tabla_carrito">
    <h1 class="titulo_carrito">Carrito de la Compra</h1>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio Ud</th>
        </tr>
        </thead>
        <tbody>

        {% for k,v in carrito.items %}
            <tr>

                <th>{{ k.nombre }}</th>
                <th></th>
                <th>


                    <a href="{% url 'restar_carrito' k.id %}">
                        <button class="botonescarrito" type="button">
                            <img class="png" src="{% static 'img/restar.png' %}" alt="">
                        </button>
                    </a>

                    {{ v }}

                    <a href="{% url 'sumar_carrito' k.id %}">
                        <button class="botonescarrito" type="button">
                            <img class="png" src="{% static 'img/mas.png' %}" alt="">
                        </button>
                    </a>

                    </th>
                    <th>{{ k.ingredientes }}</th>
                    <th>
                        {{ k.precio }} €
                        <a href="{% url 'quitar_de_carrito' k.id %}">
                            <button class="botonescarrito" type="button">
                                <img class="png" src="{% static 'img/compartimiento.png' %}" alt="">
                            </button>
                        </a>
                    </th>

            </tr>

        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><b>TOTAL DE LA COMPRA</b></th>
            <th>{{ total }} €</th>
        </tr>


        </tbody>

        <form method="post" action="{% url 'crear_pedido'  %}">
            {% csrf_token %}
            <button type="submit" class="boton_carrito_pedir">
                <i class="bi bi-clipboard-plus"></i> Finalizar Pedido
            </button>
        </form>

    </table>




</div>




{% endblock %}
