{% extends 'basehtml.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}


{% block extra_css %}
   <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
   <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
   <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}


{% block content %}
<div class="ajustes">
    <div class="tabla_carrito">
        <h1 class="titulo_carrito">Carrito de la Compra</h1>

        <div class="tabla_wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Precio Ud</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in carrito.items %}
                        <tr>
                            <td>{{ k.nombre }}</td>
                            <td></td>
                            <td class="cantidad">
                                <a href="{% url 'restar_carrito' k.id %}">
                                    <button class="botonescarrito" type="button">
                                        <img class="png" src="{% static 'img/restar.png' %}" alt="Restar cantidad">
                                    </button>
                                </a>

                                {{ v }}

                                <a href="{% url 'sumar_carrito' k.id %}">
                                    <button class="botonescarrito" type="button">
                                        <img class="png" src="{% static 'img/mas.png' %}" alt="Sumar cantidad">
                                    </button>
                                </a>
                            </td>
                            <td>{{ k.ingredientes }}</td>
                            <td>
                                {{ k.precio }} €
                                <a href="{% url 'quitar_de_carrito' k.id %}">
                                    <button class="botonescarrito" type="button">
                                        <img class="png" src="{% static 'img/compartimiento.png' %}" alt="Quitar del carrito">
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    <!-- Total -->
                    <tr>
                        <td colspan="3"></td>
                        <td><strong>TOTAL DE LA COMPRA</strong></td>
                        <td>{{ total }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{% url 'crear_pedido' %}">
            <button class="boton_carrito_pedir">
                <i class="bi bi-clipboard-plus"></i> Completar Compra
            </button>
        </a>
    </div>
</div>
{% endblock %}
