{% extends 'basehtml.html' %}
{% load static %}


{% block title %}Registro De Tarjeta{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Crearcuenta.css' %}">


{% endblock %}


{% block content %}
    <Formulario>
        <body>
            <div class="caja" >
                <div class="titulo">
                    <strong><h1>Crear una cuenta</h1></strong>
                    <br>
                    <strong><h3>Registrate para realizar pedidos y acceder a ofertas exclusivas</h3></strong>
                    <br>
                </div>
                <div class="cosasCaj">
                    <div class="nomb">
                        <p>Nombre <br><input type="text" name="Nombre" size="12" required></p>
                        <div class="nomb2">
                            <p>Apellidos <br><input type="text" name="Apellidos" size="15" required></p>
                        </div>
                    </div>
                    <p>Correo Electronico <br><input type="text" name="Correo electronico" size="34" required></p>
                    <p>Teléfono <br><input type="text" name="Teléfono" size="34" required></p>
                    <p>Contraseña <br><input type="text" name="Teléfono" size="34" required></p>
                    <p>Confirmar Contraseña <br><input type="text" name="Teléfono" size="34" required></p>
                </div>
                <button class="boton">Registrate</button>
            </div>
        </body>
    </Formulario>
{% endblock %}
