{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">


</head>
<body>
<div class="cuerpo_footer">
    <div class="cuerpo_izq_footer">
        <br>
        <h2>Más sobre nosotros</h2>
        <br>
        <h3>Nuestras Redes Sociales</h3>
        <br>
        <h4>Intagram: @TrangoniPepperoni</h4>
        <h4>Twitter : @TrangoniPepperoni</h4>
        <h4>Correo : @TrangoniPepperoni</h4>
        <h4>WhatApps: +34 123 445 643</h4>
        <h4>FaceBook: @TrangoniPepperoni</h4>
    </div>
    <div class="cuerpo_der_footer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6339.506145149855!2d-5.997576288219541!3d37.395671471966985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c0f47aac0dd%3A0x7820a55184f2c31a!2sSAFA.%20Fundaci%C3%B3n%20Escuelas%20Profesionales%20de%20la%20Sagrada%20Familia!5e0!3m2!1ses-419!2ses!4v1745517379064!5m2!1ses-419!2ses"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h4>Calle Fresa 23</h4>
    </div>
</div>
</body>
</html>