{% extends 'basehtml.html' %}
{% load static %}


{% block title %}Registro De Tarjeta{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/home_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Formulario.css' %}">

{% endblock %}


{% block content %}
        <div class="contenedor">
            <h1><strong>Haga su pedido</strong></h1>
            <form method="post">
                {% csrf_token %}
                <div class="Respuestas">
                    <p>
                        <label>Código Postal</label><br>
                        <input type="text" name="codigo_postal" size="20" required>
                    </p>
                    <p>
                        <label>Escalera</label><br>
                        <input type="text" name="escalera" size="20" required>
                    </p>
                    <p>
                        <label>Portal</label><br>
                        <input type="text" name="portal" size="20" required>
                    </p>
                    <p>
                        <label>Puerta</label><br>
                        <input type="text" name="puerta" size="20" required>
                    </p>
                    <p>
                        <label>Calle</label><br>
                        <input type="text" name="calle" size="20" required>
                    </p>
                    <p>
                        <label>Teléfono</label><br>
                        <input type="text" name="telefono" size="20" required>
                    </p>
                    <p>
                        <button type="reset" class="btn btn-primary">Borrar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </p>
                </div>
            </form>
        </div>
    {% endblock %}



