{% extends 'basehtml.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block content %}
    <div class="cuerpo_entero">
        <div class="parte_arriba">
            <img class="imagen_pricipal" src="{% static 'img/slice-crispy-pizza-with-meat-cheese.jpg' %}">
            <h1>TrangoniPepperoni</h1>
            <h3>La mejor pizza de la ciudad</h3>
            <h3>Comienza tu pedido</h3>
            <a class="btn btn-primary" href="#" role="button">Ver menu</a>
        </div>
        <div class="parte_cards">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img class="pngs" src="{% static 'img/pngwing.com.png' %}" width="40px" height="40px">
                    <h5 class="card-title">Ingredientes frescos</h5>
                    <p class="card-text">Utilizamos solos los ingredientes más frescos y de la mejor calidad para nuestras pizzas</p>
                </div>
            </div>
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img class="pngs" src="{% static 'img/pngwing.com.png' %}" width="40px" height="40px">
                    <h5 class="card-title">Puntualidad de los pedidos</h5>
                    <p class="card-text">No tardamos en tus pedidos</p>
                </div>
            </div>
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img class="pngs" src="{% static 'img/pngwing.com.png' %}" width="40px" height="40px">
                    <h5 class="card-title">Ingredientes frescos</h5>
                    <p class="card-text">Utilizamos solos los ingredientes más frescos y de la mejor calidad para nuestras pizzas</p>
                </div>
            </div>
        </div>

        <div class="nuestra_historia">
            <div class="imagen_historia">

            </div>
            <div class="historia_escrita">
                <h2>Nuestra Historia</h2>
                <h4>En TrangoniPepperoni, vivimos la pasión por la pizza. Nuestra misión es ofrecer pizzas artesanales con ingredientes frescos, recetas únicas y un sabor inigualable.
                Cada pizza es el resultado de dedicación y amor por la gastronomía italiana. Nos especializamos en combinaciones innovadoras sin olvidar los clásicos favoritos.
                </h4>
            </div>
        </div>
        <div class="reseñas">

        </div>
    </div>
{% endblock %}
