{% extends 'basehtml.html' %}
{% load static %}


{% block title %}Registro De Tarjeta{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/InicioSesion.css' %}">


{% endblock %}


{% block content %}
    <Formulario>
        <body>
            <div class="caja" >
                <div class="titulo">
                    <h1>Iniciar sesión</h1>
                    <br>
                    <h3>Ingresa tus credenciales para acceder a tu cuenta</h3>
                    <br>
                </div>
                <div class="cosasCaj">
                    <p>Correo Electronico <br><input type="text" name="Correo electronico" size="34" required></p>
                    <p>Contraseña <br><input type="text" name="Teléfono" size="34" required></p>
                </div>
                <button class="boton">Iniciar sesión</button>
            </div>
        </body>
    </Formulario>
{% endblock %}



