{% extends 'basehtml.html' %}
{% load static %}


{% block title %}Registro De Tarjeta{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/InicioSesion.css' %}">


{% endblock %}


{% block content %}
    <div class="caja">
        <div class="titulo">
            <h1>Iniciar sesión</h1>
            <br>
            <h3>Ingresa tus credenciales para acceder a tu cuenta</h3>
            <br>
        </div>
        <div class="cosasCaj">

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="boton">Iniciar Sesion</button>
            </form>
        </div>

    </div>
{% endblock %}



