{% extends 'basehtml.html' %}
{% load static %}


{% block title %}Registro De Tarjeta{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Mesas.css' %}">


{% endblock %}


{% block content %}

    <body>
        <div class="container">
            <div class="grid">
                {% for mesa in mesas %}
                    <form method="POST" action="{% url 'asignar_mesa' mesa.id %}">
                        {% csrf_token %}
                        <button type="submit" class="mesa {% if mesa.disponible %}disponible{% else %}ocupada{% endif %}"
                                {% if not mesa.disponible %}disabled{% endif %}>
                                MESA {{ mesa.numero }}<br>
                                {% if mesa.disponible %}DISPONIBLE{% else %}OCUPADA{% endif %}
                        </button>
                    </form>
                {% endfor %}
            </div>

            <div class="botones">
                <button disabled>ASIGNAR MESA</button>
                <button disabled>HISTORIAL DE PEDIDOS</button>
                <button disabled>HACER PEDIDO</button>
            </div>
        </div>
    </body>


{% endblock %}



